@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #6d646b;
    --black: #000000d1;
    --bg: #f9f3f8;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #efbaec;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--bg);
    background: var(--main-color);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-clicked {
    background-color: #efbaec;
    color: var(--main-color);
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    display: block;
    height: 11rem;
    width: auto;
}

/* navigation bar */

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--main-color);
}

.header .navbar a:hover {
    color: #8b1166;
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.header .icons div{
    color: var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--main-color);
}

.header .icons a {
    color: var(--main-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons a:hover {
    color: #8b1166;
}

#menu-btn {
    display: none;
}


/* Modal container for admin panel sign in form */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: black;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #e3cccc;
}

.close {
    color: red;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #e3cccc;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    color:red;
}

.modal-content label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #fbe5e5;
}

.modal-content input[type="text"],
.modal-content input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

.modal-content input[type="text"]:focus,
.modal-content input[type="email"]:focus {
    border-color: #f26a6a; 
    outline: none;
}

.modal-content button[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #720202;
}

#errorMessage {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}


/* Search Form */

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #6d646b;
    width: 40rem;
    height: 4.6rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    background: var(--bg);
    height: 95%;
    width: 95%;
    font-size: 1.8rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
    font-weight: bold;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label {
    color: var(--main-color);
}


/* Cart Section */

.header {
    position: relative;
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--main-color);
    padding: 1.5rem;
    transition: right 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container p {
    text-align: center;
    color: var(--bg);
    font-size: 1rem;
}

.header .cart-items-container h2 {
    font-size: 2rem;
    color: var(--bg);
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.header .cart-items-container .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.header .cart-items-container .cart-item h3 {
    color: var(--bg);
    font-size: 1.5rem;
    font-weight: 500;
}

.header .cart-items-container .cart-item p {
    color: var(--bg);
    font-size: 1rem;
}

.header .cart-items-container .cart-item .fa-times {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--bg);
    transition: color 0.3s ease;
    align-self: flex-end;
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: #ff4d4d;
}

.header .cart-items-container .cart-item img {
    height: 7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.header .cart-items-container .cart-item img:hover {
    transform: scale(1.05);
}

.header .cart-items-container .cart-item .content {
    width: 100%;
    text-align: center;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 1.8rem;
    color: var(--bg);
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.6rem;
    color: var(--bg);
    font-weight: bold;
    color: var(--bg);
}

.header .cart-items-container .cart-item .content .price::before {
    content: '$';
    margin-right: 0.2rem;
}

.header .cart-items-container .cart-item .buy-now-btn {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background: var(--bg);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--main-color);
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .cart-items-container .cart-item .buy-now-btn:hover {
    background: #ff4d4d;
    color: #fff;
    letter-spacing: 0.2rem;
}

.header .cart-items-container .cart-item .buy-now-btn:active {
    background: #ff1a1a;
    color: #fff;
}

.header .cart-items-container .cart-item label {
    margin-top: 10px;
    color: var(--bg);
    font-size: 0.9em;
}

.header .cart-items-container .cart-item input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
    .header .cart-items-container {
        width: 100%;
        right: 0; /* Correct the right position */
        height: calc(100vh - 7rem);
        padding: 1rem;
        overflow-y: auto; /* Allow vertical scroll */
    }
    

    .header .cart-items-container h2 {
        font-size: 2rem;
    }

    .header .cart-items-container .cart-item h3 {
        font-size: 1.4rem; /* Increase for readability */
    }
    
    .header .cart-items-container .cart-item p {
        font-size: 1rem; /* Increase for readability */
    }
    
    .header .cart-items-container .cart-item img {
        height: auto;
        max-width: 80px; /* Make sure image fits smaller screens */
    }
    

    .header .cart-items-container .cart-item .content h3 {
        font-size: 1.4rem;
    }

    .header .cart-items-container .cart-item .content .price {
        font-size: 1.2rem;
    }

    .header .cart-items-container .cart-item .buy-now-btn {
        padding: 0.8rem 1.5rem; /* Increase padding for better touch area */
        font-size: 1rem; /* Slightly increase font size */
    }
    

    .header .cart-items-container .cart-item input[type="number"] {
        width: 60px; /* Slightly wider */
        padding: 5px; /* Increase padding */
        font-size: 0.9rem; /* Make font a bit larger */
    }
    
}


.header {
    position: relative;
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--main-color);
    padding: 1.5rem;
    transition: right 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    border-radius: 10px;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container p{
    text-align: center;
    color: var(--bg);
    font-size: medium;
}

.header .cart-items-container h2 {
    font-size: 2.5rem;
    color: var(--bg);
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.header .cart-items-container .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.header .cart-items-container .cart-item h3 {
    flex: 1;
    color:var(--bg);
}

.header .cart-items-container .cart-item p {
    flex: 1;
    text-align: center;
    color:var(--bg);
}

.header .cart-items-container .cart-item .fa-times {
    flex: 0;
    font-size: 2rem;
    cursor: pointer;
    color: var(--bg);
    transition: color 0.3s ease;
    align-self: flex-end;
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--bg);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.header .cart-items-container .cart-item img:hover {
    transform: scale(1.05);
}

.header .cart-items-container .cart-item .content {
    width: 100%;
    text-align: center;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 1.8rem;
    color: var(--bg);
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.6rem;
    color: var(--bg);
    font-weight: bold;
    color: var(--bg)
}

.header .cart-items-container .cart-item .content .price::before {
    content: '$';
    margin-right: 0.2rem;
}

.header .cart-items-container .cart-item .buy-now-btn {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background: var(--bg);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--main-color);
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .cart-items-container .cart-item .buy-now-btn:hover {
    background: var(--bg);
    color:#8b1166;
}

.header .cart-items-container .cart-item .buy-now-btn:active {
    background: var(--bg);
}

.header .cart-items-container .cart-item label {
    margin-top: 10px;
    color: var(--bg);
    font-size: 0.9em;
}

.header .cart-items-container .cart-item input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/* home section starts */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/Untitled\ design\ \(1\).png) no-repeat;
    background-size: cover;
    background-color: var(--bg);
    background-position: center;
    justify-content: center;
    text-align: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--bg);
}

.home .content p {
    font-size: 1.7rem;
    line-height: 1.7;
    padding: 1rem 0;
    color: var(--bg);
}

.home .content a {
    background: var(--bg);
    color: var(--main-color);
}

/* Blog Section Styles */

.blog {
    padding: 2rem 1rem;
    background: var(--bg);
}

.blog .heading {
    text-align: center;
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.blog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.blog .box {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog .box img {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.blog .box .content {
    padding: 2.5rem;
    text-align: center;
}

.blog .box .content h3 {
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem 0;
}

.blog .box .content p {
    font-size: 1.5rem;
    color: #666;
    margin: 1rem 0;
}

.blog .box .content span {
    display: block;
    font-size:small;
    color: #e74c3c;
    margin-bottom: 1rem;
}

.blog .box .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    color: var(--bg);
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.blog .box .btn:hover {
    letter-spacing: 0.2rem;

}

/* shop section start */

.shop {
    padding: 50px 0;
    text-align: center;
}

.shop .heading {
    font-size: 2.7em;
    margin-bottom: 20px;
    color: var(--main-color);
}

.shop .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.shop .box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    width: calc(40% - 15px); /* Decrease the width of the boxes */
    margin-bottom: 40px;
}

.shop .box:hover{
    background-color: var(--main-color);
}

.shop .box img {
    width: 400px;;
    height: auto;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.shop .box .content {
    padding: 20px;
}

.shop .box .content h3 {
    font-size:x-large;
    font-weight: bold;
    margin: 10px 0;
    color: var(--black);
}

.box .content p:nth-child(2) {
    color: var(--black); 
    margin: 5px 0; 
    padding: 5px; 
    border-radius: 4px; 
}

.box .content p:nth-child(2) {
    font-size: 17px; 
    color: var(--black); 
    margin: 5px 0; 
    font-weight: bold; 
    padding: 5px; 
    
}

.shop .box .content .price {
    color: #e74c3c;
    font-weight: bold;
    font-size: medium;
}

.shop .box .content .original-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.shop .box .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

.shop .box .btn:hover {
    letter-spacing: 0.2rem;

}

.shop .box:hover {
    transform: scale(1.05);
}

.shop .box-container .box img:hover {
    transform: scale(0.8);
}

/* cart notification */

.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e74c3c;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.notification.show {
    display: block;
    opacity: 1;
}


/* New Arrivals Section */

.new-arrivals {
    padding: 50px 0;
    background-color: var(--bg); 
}

.new-arrivals .heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--main-color); 
}

.new-arrivals .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.new-arrivals .box {
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 300px;
    width: 100%;
}

.new-arrivals .box img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.new-arrivals .box .btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--main-color); 
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.new-arrivals .box .btn:hover { 
    letter-spacing: 0.2rem;

}

.new-arrivals .box p {
    font-size: 14px;
    color: var(--black);
}

/* Styling for Makeup Section */

.makeup {
    padding: 50px 0;
    text-align: center;
    background-color: #000000d1;
}

.makeup .heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--bg);
}

.makeup .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: start;
    margin-top: 30px;
}

.makeup .box {
    background-color: #000000d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.makeup .box:hover{
    background-color: var(--main-color);
}

.makeup .box img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.makeup .box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.makeup .box p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 15px;
}

.makeup .add-to-cart-btn {
    background-color: var(--bg);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.2s ease-in-out, letter-spacing 0.2s ease-in-out;
}

.makeup .add-to-cart-btn:hover {
    background-color: #e74c3c;
    letter-spacing: 2px;
}

/* Sale section styling */

.sale {
    padding: 2rem 1rem;
    background-color: var(--bg);
}

.sale .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}

.sale .box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.sale .box {
    background-color: var(--main-color);
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.sale .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sale .box .content {
    margin: 1rem 0;
}

.sale .box .content h3 {
    font-size: 1.8rem;
    color: var(--bg);
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale .box .content .sale-date{
    font-size: 1.3rem;
    color: #ff6347;
    position: absolute;
    right: 0;
    top: 0;
}

.sale .box .content p {
    font-size: 1.4rem;
    color: var(--bg);
    margin-bottom: 1rem;
}

.sale .box .content .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: var(--bg);
    color: var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.sale .box .content .btn:hover {
    background-color: #e74c3c;
    letter-spacing: 0.2rem;

}

.sale .box .content .coming-soon {
    font-size: 1.5rem;
    color: #ff6347;
    font-weight: bold;
    margin-top: 1rem;
}

/* About Section Styles */

.about {
    padding: 60px 10%;
    background: var(--main-color);
}

.about .heading {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #fff;
}

.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.about .content .image img {
    width: 100%;
    border-radius: 10px;
    max-width: 500px;
}

.about .content .text {
    max-width: 600px;
}

.about .content .text p {
    font-size: 18px;
    color:var(--bg);
    line-height: 1.6;
    margin-bottom: 20px;
}


/* contact section starts */

.contact {
    padding: 50px 0;
    background-color: var(--bg);
}
.contact .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.contact .heading {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: var(--main-color);
}
.contact .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .box {
    flex: 1 1 30%;
    background-color: var(--main-color);
    margin: 15px;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s;
}
.contact .box:hover {
    transform: translateY(-5px);
}
.contact .box h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #fff;
}
.contact .box p, .contact .box .share a {
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.contact .box p i, .contact .box .share a {
    margin-right: 10px;
    color: #fff;
}
.contact .box .share a {
    font-size: 1.5em;
    transition: color 0.3s;
}
.contact .box .share a:hover {
    color: var(--bg);
}
.contact .contact-form form {
    display: flex;
    flex-direction: column;
}
.contact .contact-form form input, .contact .contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact .contact-form form button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--main-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact .contact-form form button:hover {
    background-color: #e74c3c;
    letter-spacing: 0.2rem;

}

/* footer section starts */

.footer {
    background-color: var(--main-color);
    padding: 40px 20px;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .box {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}

.footer a {
    display: block;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    color: #eb598a;
    letter-spacing: 0.2rem;

}

.footer p {
    color: #fff;
    margin: 10px 0;
    font-size: 14px;
}

#newsletter-form {
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
}

#newsletter-email {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#newsletter-email:focus {
    border-color: #000000d1;
}

button[type="submit"] {
    width: 100%; 
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #e74c3c; 
    letter-spacing: 0.2rem;

}

#newsletter-message {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.footer .footer-bottom .secure-checkout,
.footer .footer-bottom .secured-by {
    display: flex;
    align-items: center;
}

.footer .footer-bottom img {
    margin-left: 10px;
}

.footer .credit {
    text-align: center;
    font-size: medium;
    margin-top: 20px;
    color: #fff;
}

/* style for checkout page */

.checkout-body {
    background-color: var(--main-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.checkout-container {
    background-color: var(--bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
}

.checkout-heading {
    text-align: center;
    font-size: 2em;
    color: var(--main-color);
    margin-bottom: 20px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
}

.checkout-fieldset {
    border: 1px solid var(--main-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.checkout-legend {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--black);
}

.checkout-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.checkout-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--bg);
    border-radius: 4px;
    font-size: 1em;
}

.checkout-summary p {
    font-size: 1em;
    margin: 10px 0;
}

.checkout-summary span {
    font-weight: bold;
    color: #321506cc;
}

.checkout-button {
    background-color: var(--main-color);
    color: var(--bg);
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-button:hover {
    background-color: #e74c3c;
    color:var(--main-color);
    letter-spacing: 0.2rem;

}

/* confirmation page style */

.confirmation-body {
    background-color: var(--main-color);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.confirmation-header {
    background-color: var(--main-color);
    color: var(--bg);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirmation-header h1 {
    margin: 0;
}

.confirmation-nav a {
    color: var(--bg);
    margin: 0 1rem;
    text-decoration: none;
}

.confirmation-nav a.continue-shopping {
    background-color: var(--bg);
    color:var(--main-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.confirmation-nav a.continue-shopping:hover {
    letter-spacing: 0.2rem;
}

.confirmation-main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-summary, .payment-section {
    background-color: var(--bg);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.order-summary h2, .payment-section h2 {
    margin-top: 0;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.5rem;
}

#order-details p {
    margin: 0.5rem 0;
}

.payment-option {
    margin: 1rem 0;
}

.confirmation-button {
    background-color: var(--main-color);
    color: var(--bg);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.confirmation-button:hover {
    letter-spacing: 0.2rem;
}
  
/* Media queries for responsiveness */


@media (max-width: 480px) {
    .new-arrivals .box {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .sale .heading {
        font-size: 1.5rem;
    }

    .sale .box {
        padding: 1rem;
    }

    .sale .box .content h3 {
        font-size: 1.2rem;
    }

    .sale .box .content p,
    .sale .box .content .btn,
    .sale .box .content .coming-soon {
        font-size:1rem;
    }

    .sale .box .content .btn {
        padding: 0.5rem 1rem;
    }

    #newsletter-email {
        font-size: 14px;
    }

    button[type="submit"] {
        font-size: 14px;
    }

    #newsletter-message {
        font-size: 12px;
    }

    .notification {
        bottom: 5px;
        right: 5px;
        padding: 8px;
        font-size: 0.9rem;
    }
}


@media (max-width: 576px) {
    .makeup .heading {
        font-size: 2rem;
    }

    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    

    .box {
        padding: 15px;
    }

    .box h3 {
        font-size: 1.2rem;
    }

    .box p {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .checkout-container {
        padding: 15px;
    }

    .checkout-heading {
        font-size: 1.5em;
    }

    .checkout-fieldset {
        padding: 15px;
    }

    .checkout-legend {
        font-size: 1em;
    }

    .checkout-input,
.checkout-button {
    font-size: 1rem;
}

}

@media (max-width: 768px) {
    .header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    display: none;
    }

    .header .navbar.active {
        display: flex;
        position: relative; /* instead of absolute */
    }
    
    
    .header .navbar a {
        margin: 1rem 0;
        width: 100%;
    }
    
    .header .icons #menu-btn {
        display: inline-block;
        cursor: pointer;
    }
    
    .header .icons div {
        font-size: 2rem;
    }
    
    .header .icons a {
        margin-left: 1rem;
    }
    
    .header .search-form {
        top: 100%;
        right: 1rem;
    }

    .blog .box-container {
        grid-template-columns: 1fr;
    }

    .shop .box {
        width: calc(100% - 20px); 
    }

    .new-arrivals .box {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }

    .makeup .box-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .sale .heading {
        font-size: 2rem;
    }

    .sale .box {
        padding: 1.5rem;
    }

    .sale .box .content h3 {
        font-size: 1.5rem;
    }

    .sale .box .content p,
    .sale .box .content .btn,
    .sale .box .content .coming-soon {
        font-size: 0.9rem;
    }

    .sale .box .content .btn {
        padding: 0.6rem 1.5rem;
    }

    .about .content {
        flex-direction: column;
        text-align: center;
    }

    .about .content .image,
    .about .content .text {
        max-width: 100%;
    }

    .about .content .image img {
        margin-bottom: 20px;
    }

    .new-arrivals .box-container {
        flex-direction: column;
        align-items: center;
    }

    .new-arrivals .box {
        max-width: 90%;
    }

    .footer {
        padding: 20px 10px;
    }

    .footer .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .footer .box {
        margin: 5px 0;
    }

    .footer h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer a, .footer p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #newsletter-form {
        flex-direction: column;
    }

    #newsletter-email {
        width: 100%;
    }

    button[type="submit"] {
        width: 100%;
    }

    .footer .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .footer-bottom .secure-checkout, 
    .footer .footer-bottom .secured-by {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .footer .footer-bottom img {
        margin-left: 0;
        margin-top: 5px;
    }

    .footer .credit {
        font-size: 12px;
        margin-top: 10px;
    }

    .contact .box-container {
        flex-direction: column;
        align-items: center;
    }
    .contact .box {
        width: 100%;
    }

    .notification {
        bottom: 10px;
        right: 10px;
        padding: 10px;
    }

    .confirmation-main {
        padding: 1rem;
    }

    .order-summary, .payment-section {
        max-width: 100%;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .blog .box-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .new-arrivals .box-container {
        justify-content: space-around;
    }

    .new-arrivals .box {
        max-width: 45%;
    }
}
